.wrapper {
  background-image: url("/images/login-page-image.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.loginForm {
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  max-width: 450px;
  padding-top: 80px;
  flex: 1;

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: 100%;
  }
}
