.wrapper {
  background-image: url("/images/register-page-image.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginForm {
  border-left: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 900px;
  max-width: 450px;
  padding-top: 80px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
  }
}
